//$primary-green: #7BFA69;
//$primary-green: #00FF46;
$primary-green: #3efe00;
$primary-green-text: #04B53C;

$card-purple: #DD49F7;
$card-purple-text: #9A2A9A;

$card-yellow: #FFFF00;
$card-yellow-text: #9C9717;

$card-black: #111113;
$card-black-text: #999999;