ul.social-links.communities
    li
        a(href="https://discord.gg/cKT8D3k" title="Discord")
            img(src="../assets/img/social/discord.svg" alt="Discrod logo")
            | Discord
    li
        a(href="https://twitter.com/zelfco" title="Twitter")
            img(src="../assets/img/social/twitter.svg" alt="twitter logo")
            | Twitter
    li
        a(href="https://instagram.com/zelf_co" title="Instagram")
            img(src="../assets/img/social/inst.svg" alt="inst logo")
            | Instagram
    li
        a(href="https://t.me/zelfers" title="Telegram")
            img(src="../assets/img/social/telegram.svg" alt="telegram logo")
            | Telegram